<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>maxCrud | 글 상세</title>
  </head>
  <body>
    <div><%= id %>번 포스트</div>
    <h1><%= results[0].title %></h1>
    <div><%= results[0].author %></div>
    </br>
    <div><%= results[0].content %></div>
    <form action="/post/delete" method="post">
      <button type="submit">글 삭제하기</button>
    </form>
    <br />
    <a href="/">리스트로 돌아가기</a>
  </body>
</html>
