<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>maxCrud | 전체글보기</title>
  </head>
  <body>
    <h1>전체글보기</h1>
    <div>리스트리스트</div>
    <br /><br /><a href="/post/create">글써버리기</a>
  </body>
</html>
